.navbar{
    margin-bottom: 0;
    background-color: rgb(22,24,39);
}
.container-fluid{
    padding: 0;
}
.left{
    width: 20%;
    height: 918px;
    float: left;
    padding: 40px;
    background-color: rgb(22,24,39);
    box-shadow: 0 1px 3px rgba(0,0,0,0.02),0 16px 32px -4px rgba(0,0,0,0.17);
}
.left-top{
    padding: 20px 75px;
}
.left-top img{
    width: 150px;
    height: 150px;
}
.left-top p{
    text-align: center;
    font-size: 18px;
    color: #F4C5D8;
    margin-top: 20px;
}
a.list-group-item{
    text-align: center;
    background-color: rgb(22,24,39);
    color: #F4C5D8;
    border: none;
}
a.list-group-item:hover{
    background-color: #000000;
    color: wheat;
    border-left: 2px solid #F8134D;
}
.right{
    width: 80%;
    height: 918px;
    float: right;
    padding: 40px;
    background-color: #F5F5F5;
    overflow: auto;
}
.right textarea{
    padding: 9px 10px;
    border: 1px solid #e4e4e4;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    border-radius: 1px;
    resize: vertical;
}
.right .lead-left{
    float: left;
    padding-left: 15px;
}
.right .lead-right{
    float: right;
    padding-right: 15px;
}
.right .lead-right .pagination{
    margin: 0;
}
.frame{
    padding:300px;
    text-align: center;
}
.frame img{
    width: 50px;
    height: 50px;
}