body{
    margin: 0;
    padding-top: 100px;
    font-family: sans-serif;
    /*background: #333333;*/
    background-image: url("../../images/lrb.jpeg");
}
.result{
    color: #ea6f5a;
    text-align: center;
    padding: 5px;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(63,63,63,0.8);
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    color: #969696;
}
.box-head{
    padding-bottom: 40px;
}
.box a{
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}
.box .login{
    color: #969696;
}
.box .register{
    color: #ea6f5a;
    border-bottom: 2px solid #ea6f5a;
}
.box .login:hover{
    border-bottom: 2px solid #ea6f5a;
}
.box input[type="text"],.box input[type="password"],.box input[type="email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    width: 200px;
    text-align: center;
    border: 2px solid #ea6f5a;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type="button"]{
    border: 0;
    background-color: rgba(63,63,63,0);
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    width: 200px;
    text-align: center;
    border: 2px solid #2ecc71;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cousor: pointer;
}
.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus{
    width: 300px;
    border-color: #ea6f5a;
}
.box input[type="button"]:hover{
    background-color: #2ecc71;
    cousor: pointer;
}
/*.box-info{*/
    /*margin: 20px auto;*/
    /*width: 200px;*/
    /*text-align: center;*/
    /*font-size: 12px;*/
    /*display: none;*/
/*}*/