<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>大理</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="/js/head.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/travel.css">
</head>
<body>
<!--导入公共头部-->
<div th:replace="~{common/head::traveltop}"></div>
<div th:replace="~{common/head::userInfo}"></div>

<div class="dali" style="margin-top: -20px">

    <div class="scenery-head">
        <div class="container">
            <div class="row">
                <h3><strong>大理&nbsp;&nbsp;&nbsp;&nbsp;Dali</strong></h3>
                <span>欢迎您访问大理</span>
                <hr>
                <div class="col-lg-8">
                    <p>大理白族自治州地处云南省中部偏西，海拔2090米，东邻楚雄州，南靠普洱市、临沧市，西与保山市、怒江州相连，北接丽江市。</p>
                    <p>地跨东经98°52′～101°03′，北纬24°41′～26°42′之间，东巡洱海，西及点苍山脉，辖大理市和祥云、弥渡、宾川、永平、云龙、洱源、鹤庆、剑川8个县以及漾濞、巍山、南涧3个少数民族自治县，是中国西南边疆开发较早的地区之一。</p>
                    <p>地处低纬高原，四季温差不大，干湿季分明，以低纬高原季风气候为主，境内以蝴蝶泉、苍山、洱海、大理古城、崇圣寺三塔等景点最有代表性。</p>
                </div>
                <div class="col-lg-4">
                    <video controls>
                        <source src="../../video/大理.mp4" type="video/mp4">
                        <source src="../../video/大理.ogg" type="video/ogg">
                        <source src="../../video/大理.webm" type="video/webm">
                        <object data="../../video/大理.mp4" width="320" height="240">
                            <embed src="../../video/大理.swf" width="320" height="240">
                        </object>
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="container scenery-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">主页</a></li>
                    <li role="presentation"><a href="#scenery" aria-controls="scenery" role="tab" data-toggle="tab">景点</a></li>
                    <li role="presentation"><a href="#accommodation" aria-controls="accommodation" role="tab" data-toggle="tab">住宿</a></li>
                    <li role="presentation"><a href="#cate" aria-controls="cate" role="tab" data-toggle="tab">美食店</a></li>
                </ul>
            </div>
            <div class="panel-body">

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <!-- 大理主页 -->
                        <div class="main-info">
                            <div class="strategy">
                                <h2>旅游攻略</h2>
                                <div class="strategy-head">
                                    <h3>景点概况</h3>
                                    <hr>
                                </div>
                                <div class="strategy-item">
                                    <h4>大理速览</h4>
                                    <div>
                                        <p>大理地处云贵高原与横断山脉结合部位。居住着汉、白、彝、回、傈僳、藏、纳西等26个民族，白族人口居多，是一个以白族为自治民族的自治州。州府所在地大理市，是滇缅、滇藏公路交汇地。</p>
                                        <p>大理山川秀丽，气候宜人，上关花、下关风、苍山雪、洱海月，构成了大理“四绝”，素有“东方瑞士”之称。洱海最南端的上关，曾经是一片开阔的草原，鲜花铺地，姹紫嫣红。最北端的下关是苍洱之间主要的风源，现在是大理市中心所在地。位于洱海中部的大理古城，曾是南诏古国的都城，白族文化的发源地。</p>
                                        <p>在这里，你可以泛舟洱海，月色朦胧时享尽温柔旖旎的洱海月；造访银装素裹的苍山雪；穿梭于大理古城追寻凝固的历史。</p>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>最佳旅行时间</h4>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p>大理四季如春，没有明显的严冬酷暑，四季不是十分明显。春秋两季，即3-5月、9-11月是大理的最佳旅游时间。</p>
                                            <p>3月-5月：如歌里所唱：“大理三月好风光”。不仅温度最宜人，白族的很多节日和盛会也集中在此时间段，如大理最盛大的商贸活动“三月街”。</p>
                                            <p>6月-8月：渐入雨季，日晒变强，香格里拉沿途的杜鹃花海开到鼎盛。</p>
                                            <p>9月-11月：夏末秋初时，风景颜色最丰富，秋色醉人，是摄影爱好者出行的好时机。</p>
                                            <p>12月-2月：虽然已是冬天，但依然风和日丽适合出游，此段时间可以去玉龙雪山和梅里雪山，也是观拉市海候鸟的好时机。</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="img-thumbnail" src="../../images/homepage/timg (4).jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>建议游玩天数</h4>
                                    <div>
                                        <p>2-3天。</p>
                                        <p>在大理体验将著名景点走遍基本2-3天就够了。深度游可考虑多游玩几天。</p>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>消费水平</h4>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p>大理整体消费水平不高，物价也相对便宜。</p>
                                            <p>餐饮：小吃摊或小餐馆会便宜些，小餐馆的米线一般10-15元/碗。古城内吃饭价格相对较贵，一般两人在几十元到一百元不等。</p>
                                            <p>住宿：普通标间80-150，就算环境相当好了。古城里的民族主题酒店会贵一些。</p>
                                            <p>交通：大理的主要交通工具是公交和大巴，火车站附近很多公交可到达各著名古城及景点。公交一般是1.5-2元，大巴车视里程而定。</p>
                                            <p>景点：景点门票50-300不等。</p>
                                            <p>如果打算在大理度过一段漫长时光，房租加日常开销一般1000元/月就够了。当然，如果你常常光顾酒吧，那就需要更多。</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="img-thumbnail" src="../../images/homepage/timg (3).jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="strategy-head">
                                    <h3>景点游玩</h3>
                                    <hr>
                                </div>
                                <div class="strategy-item">
                                    <h4>路线推荐</h4>
                                    <div>
                                        <p>大理3日玩法  游玩时间：3-5天  最佳季节：3-4月</p>
                                        <p>D1 大理古城 → 崇圣寺三塔 → 三塔倒影公园 → 人民路</p>
                                        <p>D2 大理古城 → 喜洲镇 → 蝴蝶泉 → 双廊 → 南诏风情岛 → 挖色镇 → 小普陀 → 大理古城</p>
                                        <p>D3 苍山</p>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>必游景点</h4>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img src="../../images/homepage/3_大理古城.jpg" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">大理古城</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img src="../../images/homepage/3_双廊.jpg" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">双廊</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img src="../../images/homepage/3_挖色镇.jpg" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">挖色镇</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img src="../../images/homepage/3_苍山.jpg" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">苍山</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>当地活动</h4>
                                    <div>
                                        <p>餐饮：大理最好的餐厅主要集中在古城中的护国路（洋人街）上，云南特色菜、白族风味菜肴等都可以在这里找到。</p>
                                        <p>购物：大理石工艺品、鹤庆的银铜工艺品、剑川的木雕、大理草编是大理很出名手工制品，喜欢艺术的人或许比较喜欢。洱源梅子、巍山蜜饯是当地比较著名的特产，可在古城内的梅子店买到；蜡染、扎染、布扎则是女士们的最爱，古城中很多商铺都有卖。天然大理石制作的文房四宝、花盆、花瓶、灯具等工艺品，制作精美，可在大理古城或下关买到。另外，下关沱茶、感通茶、邓川乳扇都是大理的名优特产，各土杂店及农贸市场都有卖。是带给朋友的最好选择。</p>
                                        <p>娱乐：大理是著名的旅游胜地，白天的大理清幽静谧，夜晚却灯光璀璨，歌舞升平。在古城中，你不仅可以追寻历史遗留的古象遗韵，同时还可以感受到现代都市的动感与奢华。大理酒吧很多，晚上的夜生活也很丰富，艳遇指数也很高，但如果你是女生，最好结伴而行。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="history">
                                <h2>历史</h2>
                                <div class="strategy-head">
                                    <h3>民俗文化</h3>
                                    <hr>
                                </div>
                                <div class="history-item">
                                    <strong>白族风情</strong>
                                    <p>大理市是以白族为主体的少数民族聚居区，白族占有全市人口的65%。白族风情多姿多彩，风俗习惯具有鲜明的地方民族特色。</p>
                                    <strong>白族民居</strong>
                                    <p>白族民居一向外观整齐、庄重、大方，白墙青瓦，古朴大方。房屋由大量石料建成，墙基、门头、窗头、横梁皆用石头砌成，屋顶以板瓦为沟，筒瓦为顶。民居内部庭院多有讲究，往往依据住家的富裕程度而有所不同，大体上有四种形式：一为“两房一耳”，即两幢楼房互相垂直，交叉处有一耳房；二为“三房一照壁”，即三幢楼房，主房对面为照壁；三为“四合五天井”，即有四幢楼房，每一处交叉点都有一耳房；四为“六合同春”，即有两个大院，每院三幢楼房，各方的楼廊彼此相连，通行无阻，称为“走马转角楼”。白族民居尤为讲求盖门楼，通常盖门楼的形式为“一滴水”，即为普通的坡屋，朴素大方，而另一种形式“三滴水”则显现了一种华丽，其建筑十分精美，飞檐翘角，宏伟壮观。白族民居中的照壁也显现了民居的特色。照壁是装饰性的建筑，象征了吉祥、福禄与安康。各种各样的照壁也体现了主人的意愿与企盼，堪称白族民居建筑的精美艺术品。</p>
                                    <strong>白族宗教信仰</strong>
                                    <p>白族的宗教信仰体现为本主崇拜。据查，本主崇拜的宗教信仰形成与南诏时期，并随着社会的发展而不断地完善，内容也越发丰富。本主崇拜是一种多神崇拜，每个村寨都有自己的本主神，也有的是几个或几十个村寨共同信奉一个本主神。本主神也是多种多样，如：自然本主有石头、水牛、猴子等；神灵本主有山神、谷神、太阳神等；英雄本主有杜朝选、段赤诚等；佛教与道教本主有观音、李靖等。</p>
                                    <p>本主信仰不同于佛教的修来生，也不同于道教的化神仙，它只是对现世五谷丰登、风调雨顺的一种期盼。“以死勤事者则祀之，以劳定国则祀之，能御大灾则祀之，能悍大患则祀之”是本主崇拜的总原则。本主崇拜是白族人民向往美好生活的宗教表现，至今不衰。</p>
                                </div>
                                <div class="strategy-head">
                                    <h3>名优特产</h3>
                                    <hr>
                                </div>
                                <div class="history-item">
                                    <strong>白族“土八碗”</strong>
                                    <p>“土八碗”是白族传统宴席上一套典型的菜谱，有煮、炒、蒸、炸、煎、腌多种菜肴，色泽鲜艳，滋补健胃，老少皆宜。土八碗由八道热菜组成：添加红粬米的红肉炖；挂蛋糊油炸的酥肉；加酱油、蜂蜜扣蒸的五花三线肉千张；配加红薯或土豆的粉蒸肉；猪头、猪肝、猪肉卤制的干香；加盖肉茸、蛋屑的白扁豆；木耳、豆腐、下水、蛋丝、菜梗氽制的杂碎；配加炸猪条的竹笋。</p>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <strong>大理砂锅鱼</strong>
                                            <p>大理洱海是云南横断水脉中蓄水量最大淡水湖泊。洱海自然资源丰富，仅鱼类就有十多种。</p>
                                            <p>白族对鱼的食法和烹调技术颇具特色。在众多食法中，最具风味特色的是砂锅鱼。砂锅鱼集中了白族鱼味的精华，热烹热吃，配以豆腐等食物，味道鲜美，是大理白族款待宾客的佳肴。砂锅鱼的烹调方法是：把从洱海捕来的黄壳鲤鱼刮洗干净后，用毛巾擦去水分，于腹壁上擦抹精盐，腌10多分钟后，放进大理特制的砂锅里清炖，再加人泡豆腐、火腿、肉丸、玉兰片、猪蹄筋等十多种配料及调味品，把砂锅置于木炭火炉上烹炖而成。</p>
                                            <strong>乳扇</strong>
                                            <p>乳扇是一种呈扇形的乳制品，是洱源白族人民待客的一道上等菜。云南十八怪之“牛奶做成扇子卖”，指的就是“乳扇”。乳扇的食法很多，可生吃可熟吃，也可烧、炸、煎、煮等。用乳扇、烤茶、核桃面等泡制的白族三道茶。</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="img-thumbnail" src="../../images/homepage/timg (1).jpg">
                                        </div>
                                    </div>
                                    <strong>生皮</strong>
                                    <p>火烧猪肉（多用臀部和后腿皮肉）和猪肝切成细丝，以葱、蒜、芫荽、炖梅、辣子面、酱油等为佐料，调蘸而食。此吃法民间称之为“吃生皮”。吃生皮的习俗，相传始于南诏时期。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="scenery">
                        <!-- 大理景点 -->
                        <div class="row">
                            <div th:each="scenery:${sceneries}">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <img th:src="@{${scenery.url}}" alt="...">
                                        <div class="caption">
                                            <h3 th:text="${scenery.name}"></h3>
                                            <p th:text="${scenery.location}"></p>
                                            <p th:text="${scenery.openTime}"></p>
                                            <span th:text="${scenery.level}"></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span th:text="${scenery.price}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="accommodation">
                        <!--大理住宿-->
                        <div class="row">
                            <div th:each="hotel:${hotels}">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <img th:src="@{${hotel.url}}" alt="...">
                                        <div class="caption">
                                            <h4 th:text="${hotel.name}"></h4>
                                            <h5 th:text="${hotel.english}"></h5>
                                            <p class="ellipsis" th:text="${hotel.hotelDesc}"></p>
                                            <p th:text="${hotel.location}"></p>
                                            <span th:text="${hotel.price}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cate">
                        <!-- 大理美食店 -->
                        <div class="row">
                            <div th:each="cate:${cates}">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <img th:src="@{${cate.url}}" alt="...">
                                        <div class="caption">
                                            <h4><strong th:text="${cate.name}"></strong></h4>
                                            <p class="ellipsis" style="-webkit-line-clamp: 1;" th:text="${cate.location}"></p>
                                            <p class="ellipsis" style="-webkit-line-clamp: 2;" th:text="${cate.catesDesc}"></p>
                                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>